body{
    display: flex;
    flex-flow: row wrap;

}

.successblock{
    /* height: 40px;
    width: 40px; */
    background-color: green;
}

.failblock{
    /* height: 40px;
    width: 40px; */
    background-color: red;
}

.openblock{
    /* height: 40px;
    width: 40px; */
    background-color: blue;
}